// See: http://melandri.net/2012/02/14/octopress-theme-customization/

html {
    background: #404040 url('/images/stripes_3-6-333333-404040.png');
}

body > div {
    background-image: none;
}
body > div > div {
    background-image: none;
}

aside.sidebar ul.nobox {
    li {
        list-style: disc;
        margin-left: 1em;

        // Don't show the separator
        border-bottom: none;
        box-shadow: none;

        // Cuddle together
        padding-bottom: 0em;
    }
}
