// See: http://melandri.net/2012/02/14/octopress-theme-customization/

html {
    background: #404040 url('/images/stripes_3-6-333333-404040.png');
}

body > div { background-image: none; }
body > div > div { background-image: none; }

//
// Header
//

body > header {
    background: none;
    padding: 0.5em 0 .5em 0;
}

body > header h1 {
    font-size: 2.8em;
    text-shadow: rgba(0, 0, 0, 0.9) 0 0 8px;
}

//
// Navigation
//

body > nav {
    margin-bottom: 1em;

    padding-left: 1.4em;
    padding-right: 1.4em;
    padding-top: .15em;
    padding-bottom: .15em;
    border-radius: .5em;
}

body > nav a {
    font-size: 1em;
    line-height: 1.4em;
}

body > nav form .search {
    padding: .2em .3em;
}

//
// Content
//

#main {
    border-radius: .5em .5em 0 0;
}

#content {
    border-radius: .5em 0 0 0;
}

article img {
    border: 0;
}

// BEGIN Fix top-right corner of main box
aside.sidebar {
    margin-left: -1em;
}

aside.sidebar section {
    padding-left: 1em;
}
// END Fix top-right corner of main box

//
// Miscellaneous
//

aside.sidebar ul.nobox {
    li {
        list-style: disc;
        margin-left: 1em;

        // Don't show the separator
        border-bottom: none;
        box-shadow: none;

        // Cuddle together
        padding-bottom: 0em;
    }
}
