aside.sidebar ul.nobox {
    li {
        list-style: disc;
        margin-left: 1em;

        // Don't show the separator
        border-bottom: none;
        box-shadow: none;

        // Cuddle together
        padding-bottom: 0em;
    }
}
